<div>
  <label>Player Id:
    <input [(ngModel)]="playerId" placeholder="Player Id">
    <button (click)="getPlayerData()">Get Player Data</button>
  </label>
</div>
<!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
<button mat-button>Click me!</button>
<mat-checkbox>Check me!</mat-checkbox>
-->
<div *ngIf="playerResult">
  <h2> {{playerResult.profile.personaname}}'s Details</h2>
  <h3> API ID: {{playerResult.profile.account_id}} </h3>
  <img src="{{playerResult.profile.avatarfull}}">
  <h3> Player Details: </h3>
  <div *ngIf="playerResult.solo_competitive_rank">
    <p>Solo MMR: {{playerResult.solo_competitive_rank}} </p>
  </div>
  <div *ngIf="playerResult.competitive_rank">
    <p>Competitive MMR: {{playerResult.competitive_rank}} </p>
  </div>

  <p>Estimated MMR: {{playerResult.mmr_estimate.estimate}} </p>
  <p>Region: {{playerResult.profile.loccountrycode}} </p>
  <p>Steam account: <a href="{{playerResult.profile.profileurl}} ">{{playerResult.profile.profileurl}}</a></p>
  <div *ngIf="playerResult.profile.last_login">
    <p>Last Login: {{playerResult.profile.last_login}}</p>
  </div>
</div>

<div *ngIf="playerMatches">
  <h3> Player Recent Matches </h3>
  <div *ngFor="let matches of playerMatches">
    <ul class=links  routerLink="/match-details/{{matches.match_id}}">
      <li> {{matches.match_id}} </li>
    </ul>
    <ul class = info>
      <li>Hero ID: {{matches.hero_id}} </li>
      <li>K|D|A: {{matches.kills}}|{{matches.deaths}}|{{matches.assists}} </li>
      <li>Last hits: {{matches.last_hits}} </li>
      <li>Hero Damage|Hero Healing: {{matches.hero_damage}}|{{matches.hero_healing}}</li>
      <li>Tower Damage:{{matches.tower_damage}} </li>
      <li>GPM|XPM: {{matches.gold_per_min}}|{{matches.xp_per_min}} </li>
    </ul>
  </div>
</div>
