<div>
  <label>Match Id:
    <input [(ngModel)]="matchId" placeholder="Match Id">
    <button (click)="getMatchData()">Get Match Data</button>
  </label>
</div>
<div *ngIf = "result">
    <h2>Match {{result.match_id}} details: </h2>
<h3>{{victory}}</h3>    
    <ul>
      <li>Patch: {{result.patch}}</li>
      <li>Dire Barracks Status: {{result.barracks_status_dire}}</li>
      <li>Radiant Barracks Status: {{result.barracks_status_radiant}}</li>
      <li>Game Duration: {{result.duration}}</li>
    </ul>
    

<div>
  <h3>Team EXP Difference </h3>
</div>
<ul class = "exp">
<div *ngFor="let xp of result.radiant_xp_adv">
  <li>{{xp}}</li>
</div>
</ul>

<div>
  <h3>Team Gold Difference </h3>
</div>
<ul class = "gold">
<div *ngFor="let gold of result.radiant_gold_adv">
  <li>{{gold}}</li>
</div>
</ul>

<h3>Player Account ID:</h3>
<ul class ="links">
<div *ngFor="let iterator of result.players" routerLink="/player-details/{{iterator.account_id}}">
<li>
  {{iterator.account_id}}
</li>
</div>
</ul>
